<h2>Template: <small>Dinámicos</small></h2>
<hr>


<form (ngSubmit)="guardar()" 
      #miFormulario="ngForm"
      autocomplete="off">


    <!-- Nombre -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Nombre:</label>
        <div class="col-sm-10">
            <input class="form-control"
                   required
                   [ngModel]="persona.nombre"
                   name="nombre"
                   minlength="1"
                   placeholder="Nombre de la persona">

            <span class="form-text text-danger"
                  *ngIf="miFormulario.controls?.nombre?.errors && 
                         miFormulario.controls?.nombre?.touched">
                         Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- Agregar -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Agregar:</label>
        <div class="col-sm-10">

            <div class="input-group">
                <input  class="form-control"
                        placeholder="Agregar favorito"
                        [(ngModel)]="nuevoJuego"
                        name="nuevoJuego">

                <button (click)="agregar()"
                        class="btn btn-outline-primary">
                        Agregar
                </button>
            </div>
            

        </div>
    </div>

    <!-- Favoritos -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Favoritos:</label>
        <div class="col-sm-10">

            <div class="input-group mb-1"
                 *ngFor="let juego of persona.favorito; let i = index">
                <input  [(ngModel)]="juego.nombre"
                        [name]="'favorito_'+ i"
                        required
                        class="form-control">
                
                <button (click)="eliminar( i )" 
                    class="btn btn-outline-danger">
                    Eliminar
                </button>
            </div>
            

        </div>
    </div>



    <div class="col-sm-12">
        <button class="btn btn-primary float-end"
                type="button"
                [disabled]="miFormulario.invalid">
                Guardar
        </button>
    </div>


</form>

<span>Form Persona</span>
<pre>{{ persona.favorito | json }}</pre>
