<h2>Reactivos: <small>Básicos</small></h2>
<hr>

<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" 
                           formControlName="nombre"
                           class="form-control"
                           placeholder="Nombre del producto">

                    <span class="form-text text-danger"
                          *ngIf="campoEsvalido('nombre')">
                        Debe tener al menos 3 caracteres
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number" 
                           class="form-control" 
                           formControlName="precio"
                           placeholder="Precio del producto">

                    <span class="form-text text-danger"
                          *ngIf="campoEsvalido('precio')">
                        El precio debe ser 0 o mayor
                    </span>                   
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input type="number" 
                           class="form-control" 
                           formControlName="existencias"
                           placeholder="Existecias del producto">

                    <span class="form-text text-danger"
                          *ngIf="campoEsvalido('existencias')">
                        Deben haber por lo menos 10 unidades
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col">

                <span>Valid: </span>
                <pre>{{ miFormulario.valid }}</pre>
                
                <span>Pristine: </span>
                <pre>{{ miFormulario.pristine }}</pre>

                <span>Touched: </span>
                <pre>{{ miFormulario.touched }}</pre>

                <span>Value: </span>
                <pre>{{ miFormulario.value | json }}</pre> 
                    
                <span>Campo existencias: </span>
                <pre>{{ miFormulario.controls.existencias.errors | json }}</pre> 

            </div>
        </div>


    </div>
</div>