<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>


<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">

    <!-- Nombre -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Nombre:</label>
        <div class="col-sm-10">
            <input class="form-control"
                   formControlName="nombre"
                   placeholder="Nombre de la persona">

            <span *ngIf="campoValido('nombre')"
                class="form-text text-danger">
                Este campo es obligatorio
            </span>
        </div>
    </div>

    <!-- Agregar -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Agregar:</label>
        <div class="col-sm-10">

            <div class="input-group">
                <input class="form-control"
                       placeholder="Agregar favorito">

                <button class="btn btn-outline-primary">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <!-- Favoritos -->
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Favoritos:</label>
        <div class="col-sm-10" formArrayName="favoritos">

            <div class="input-group mb-1"
                 *ngFor="let favorito of favoritosArr.controls; let i = index">

                 <input class="form-control"
                        [formControlName]="i" 
                        required>
                
                <button class="btn btn-outline-danger">
                    Eliminar
                </button>
            </div>
        </div>
    </div>



    <div class="col-sm-12">
        <button class="btn btn-primary float-end"
                type="submit">
                Guardar
        </button>
    </div>


</form>

<span>Valid</span>
<pre>{{ miFormulario.valid }}</pre>
<br>

<span>Value</span>
<pre>{{ miFormulario.value | json }}</pre>

<!-- <span>Form Persona</span>
<pre>{{ persona.favorito | json }}</pre> -->