<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" 
              (ngSubmit)="submitFormulario()"  
              [formGroup]="miFormulario">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre del usuario">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Este campo requiere nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           placeholder="Email del usuario">
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre codigo del usuario">
                </div>
            </div>

            <!-- Contraseña -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Contraseña de su cuenta">
                </div>
            </div>

            <!-- Confirmar contraseña-->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Confirme la contraseña">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>
            


            
        </form>

    </div>
</div>

<h3>Form Valid: {{ miFormulario.valid }}</h3>

<h3>Nombre:</h3>
<pre>
    {{ miFormulario.controls.nombre.errors | json }}
</pre>